@import url(./null-style.css);
@import url(./header/header.css);
@import url(./club-page/club.css);
@import url(./blog-page/blog.css);
@import url(./delivery-page/delivery.css);
@import url(./contacts-page/contacts.css);
@import url(./wishes-page/wishes.css);
@import url(./product-page/product.css);

@font-face {
  font-family: "GilroyNormal";
  src: url(./fonts/gilroy-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "GilroySemiBold";
  src: url(./fonts/gilroy-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "GilroyBold";
  src: url(./fonts/gilroy-bold.ttf);
  font-weight: 700;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}

.main-content {
  margin-top: 136px;
}

.content-info {
  width: 100%;
  height: 698px;
  margin-bottom: 68px;
}

.content-info__img {
  position: relative;
}
.content-info__img img {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.content-info__text {
  padding-top: 90px;
  padding-left: 268px;
}

.content-info__title {
  font-family: "GilroySemiBold";
  font-size: 99px;
  color: black;
  height: 149px;
}

.content-info__subtitle {
  font-family: "GilroyNormal";
  font-size: 24px;
  color: black;
  margin-bottom: 45px;
}

.content-info__catalog {
  font-family: "GilroyNormal";
  font-size: 18px;
  color: white;
  background-color: black;
  height: 58px;
  width: 268px;
  text-align: center;
  line-height: 58px;
}

.content-expert {
  margin-bottom: 150px;
  padding: 0px 121px;
}

.content-expert__main {
  display: flex;
  margin-bottom: 36px;
}

.content-expert__img {
  margin-right: 72px;
}
.content-expert__img img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-expert__text {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
}

.content-expert__title {
  font-family: "GilroyNormal";
  font-size: 32px;
  color: black;
  height: 84px;
  margin-bottom: 16px;
}

.content-expert__subtitle {
  font-family: "GilroyNormal";
  font-size: 16px;
  color: black;
  margin-bottom: 24px;
  line-height: 150%;
  width: 681px;
}

.content-expert__more {
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #cc4c6e;
}

.content-expert__row-advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
  flex: 1 1 100%;
  gap: 26px;
}

.content-expert__item {
  flex: 25%;
  line-height: 150%;
  padding: 17px 0px 17px 32px;
  font-family: "GilroyNormal";
  font-size: 18px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.new-product, .recommended-product {
  padding: 0px 121px;
  margin-bottom: 183px;
}

.new-product__title, .recommended-product__title, .auction-product__title {
  font-family: "GilroyNormal";
  font-size: 28px;
  color: black;
  margin-bottom: 24px;
}

.new-product__slider {
  max-height: 474px;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  width: 377px !important;
  margin-right: 56px;
  padding: 10px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.slider__item:hover {
  transition: all 0.1s linear;
  transform: scale(0.95);
}
.slider__item-view {
  height: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.slider__item-label {
  height: 56px;
  line-height: 56px;
  text-align: center;
  width: 56px;
  background-color: #ff3465;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "GilroyBold";
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.slider__item-img img {
  max-width: 100%;
  height: auto;
}

.slider__item-text {
  display: flex;
  justify-content: space-between;
}

.slider__item-name {
  text-transform: uppercase;
  font-family: "GilroyBold";
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}

.slider__item-descripttion {
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #5c5c66;
}

.slider__item-price {
  line-height: 42px;
  margin-right: 15px;
  font-family: "GilroyBold";
  font-size: 27px;
  color: black;
}

.slick-list {
  max-height: 474px;
}

.slick-prev {
  transform: rotate(180deg) !important;
  top: -50px !important;
  left: auto !important;
  right: 44px !important;
}

.slick-next {
  top: -38px !important;
  right: 0 !important;
}

.slick-arrow {
  height: 24px !important;
  width: 24px !important;
  z-index: 10;
}

.slick-prev::before,
.slick-next::before {
  content: "" !important;
  font-family: "" !important;
  height: 24px !important;
  width: 24px !important;
  display: inline-block;
  background-image: url(./img/long_right.svg) !important; 
  color: black;
}

.slick-arrow:active {
  opacity: 0.5;
}

.auction-product {
  margin-bottom: 183px;
}
.auction-product .slider__item {
  width: 990px !important;
}
.auction-product .slider__item-img img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}
.auction-product .slick-next,
.auction-product .slick-prev {
  margin-right: 130px;
}
.auction-product .slider__item-name {
  font-family: "GilroyBold";
  font-size: 48px;
  color: black;
}
.auction-product .slider__item-descripttion {
  font-family: "GilroyNormal";
  font-size: 20px;
  color: #5c5c66;
}
.auction-product .slick-list {
  max-height: 540px;
}

.auction-product__title {
  padding: 0px 121px;
}

.cover-img {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: cover-up 1.2s ease-out 0.6s;
  animation-fill-mode: forwards;
}

@keyframes cover-up {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}
.cover-img__name {
  position: absolute;
  font-family: "GilroyBold";
  font-size: 150px;
  color: white;
  left: 175px;
  bottom: 120px;
}

.cover-img__img {
  height: 100%;
  width: 100%;
}
.cover-img__img img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.mailing-block {
  margin-bottom: 150px;
  position: relative;
  padding: 0 130px;
  display: flex;
  align-items: center;
}

.mailing-block__img img {
  max-width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.mailing-block__info-background {
  position: absolute;
  width: 1243px;
  height: 555px;
  background: #F3F3F3;
  right: 130px;
  z-index: 1;
}

.mailing-block__info {
  padding: 98px 283px 98px 433px;
}

.mailing-block__title {
  font-family: "GilroyBold";
  font-size: 48px;
  color: black;
  margin-bottom: 20px;
  line-height: 110%;
}

.mailing-block__subtitle {
  font-family: "GilroyNormal";
  font-size: 22px;
  color: #5A5A5A;
  margin-bottom: 48px;
  line-height: 130%;
}

.mailing-block__input {
  font-family: "GilroyNormal";
  font-size: 22px;
  color: #5A5A5A;
  background-color: transparent;
  border-bottom: 1px solid #C4C4C4;
  line-height: 34px;
  padding-bottom: 8px;
  width: 100%;
  margin-bottom: 24px;
}

.mailing-block__button {
  cursor: pointer;
  padding: 17px 0px;
  background-color: black;
  width: 100%;
  font-family: "GilroyNormal";
  font-size: 22px;
  color: white;
  text-align: center;
}

.footer-top {
  cursor: default;
  display: flex;
  justify-content: space-between;
  padding: 0 121px;
  margin-bottom: 19px;
  flex: 0 1 20%;
  position: relative;
}

.footer-top__img-logo img {
  max-width: 100%;
  height: auto;
}

.footer-top__text-contact {
  font-family: "GilroyBold";
  font-size: 22px;
  color: #828282;
  margin: 16px 0;
  line-height: 120%;
}

.footer-top__text-address {
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #828282;
}

.footer-top__title {
  font-family: "GilroyNormal";
  font-size: 22px;
  color: black;
  margin-bottom: 12px;
  line-height: 200%;
}

.footer-top__item {
  margin-bottom: 8px;
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #4E4E4E;
  cursor: pointer;
}

.footer-top__item:hover {
  text-decoration: underline;
}

.footer-top__messages {
  margin-top: 8px;
}
.footer-top__messages img {
  max-width: 100%;
  height: auto;
}

.footer-top__pay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 59px;
  position: absolute;
  bottom: 0;
  right: 121px;
}
.footer-top__pay img {
  max-width: 100%;
  height: auto;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 121px;
  padding-bottom: 24px;
}

.footer-bottom__firma-name {
  font-family: "GilroyNormal";
  font-size: 14px;
  color: #828282;
}

.footer-bottom__firma-ogrn {
  font-family: "GilroyNormal";
  font-size: 14px;
  color: #828282;
  margin: 8px 0;
}
.footer-bottom__firma-ogrn span {
  color: black;
}

.footer-bottom__firma-c {
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #B7B7B7;
}

.footer-bottom__private {
  width: 708px;
  text-align: right;
  font-family: "GilroyNormal";
  font-size: 16px;
  color: #B7B7B7;
  line-height: 150%;
}/*# sourceMappingURL=style.css.map */